<nav class="w-full bg-teal-800 text-white ">
    <div>
    <div class="w-3/4 bg-teal-800 mx-auto h-20 flex items-center pb-2">
        <div class="text-2xl w-1/3 text-left">
            
        </div>
        <div class=" text-2xl w-1/3 flex justify-center">
            <a class="leading-tight block font-bold text-center">
                Kariūnų Duomenų<br/>Valdymo Sistema
            </a>
        </div>
        <div class="w-1/3 text-right text-3xl space-x-12">
            <a>
                <i class="fa-solid fa-circle-info"></i>
            </a>
            <a>
                <i class="fa-solid fa-circle-user"></i>
            </a>
            <a>
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>
        </div>
    </div>
    <div class="w-full bg-teal-700 h-10 flex items-center text-white pb-1">
        <div class="w-3/4 mx-auto flex justify-center space-x-16">
            <a>Ekipuotė</a>
            <a>Leidimai</a>
            <a>Veiklos</a>
            <a>Rezultatai</a>
        </div>
    </div>
</div>
</nav>
