<div class="h-full flex items-center justify-center bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-lg w-80">
    <h2 class="text-2xl font-bold mb-6 text-center">Autorizacija</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="cadetIdentificationNumber" class="block text-sm font-medium text-gray-700">Kariūno Numeris</label>
        <input
          type="text"
          id="cadetIdentificationNumber"
          formControlName="cadetIdentificationNumber"
          class="mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-teal-600"
        />
        @if (loginForm.get('cadetIdentificationNumber')?.invalid && loginForm.get('cadetIdentificationNumber')?.touched) {
          <div class="text-red-500 text-sm">
            Kariūno Numeris būtinas laukas
          </div>
        }
      </div>

      <div class="mb-6">
        <label for="nationalIdentificationNumber" class="block text-sm font-medium text-gray-700">Asmens kodas</label>
        <input
          type="text"
          id="nationalIdentificationNumber"
          formControlName="nationalIdentificationNumber"
          class="mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-teal-600"
        />
        @if (loginForm.get('nationalIdentificationNumber')?.invalid && loginForm.get('nationalIdentificationNumber')?.touched) {
          <div class="text-red-500 text-sm">
            Asmens kodas būtinas laukas
          </div>
        }
      </div>

      <button
        type="submit"
        class="w-full bg-teal-600 text-white font-semibold py-2 rounded-md hover:bg-teal-700"
        [disabled]="loginForm.invalid"
      >
        Prisijungti
      </button>
    </form>
    <div class="w-full text-center pt-4">
      <a class="text-teal-600 hover:text-teal-700 text-sm">Pagalba</a>
    </div>
  </div>
</div>
