<div class="not-found-container flex items-center h-full justify-center">
    <div class="text-center">
      <h1 class="text-6xl font-bold text-rose-600">404</h1>
      <p class="text-2xl font-semibold mt-4">Puslapis Nerastas</p>
      <p class="text-lg mt-2 text-gray-600">Ieškomas puslapis neegzistuoja arba buvo perkeltas.</p>
      <a routerLink="/" class="mt-6 inline-block bg-rose-500 text-white py-2 px-4 rounded-md hover:bg-rose-600">
        Grįžti į pradžią
      </a>
    </div>
  </div>
  