<div class="bg-white p-4 pb-2 rounded-lg shadow-lg my-4 w-full mx-auto">
  <!-- Section title -->
  <h2 class="md:text-2xl text-lg font-bold mb-2 text-center">Ekipuotė</h2>

  <!-- Legend for status meanings -->
  <div class="md:mb-4 md:p-4 p-2 mb-2 bg-stone-100 rounded-md shadow-sm">
    <h3 class="md:text-lg font-semibold md:mb-2">Statuso reikšmės</h3>
    <ul class="flex flex-wrap md:space-x-4">
      <!-- Status legend items -->
      <li class="flex items-center space-x-2 p-1">
        <i class="fa-solid fa-circle-check text-green-400 md:text-lg"></i>
        <span class="text-sm text-gray-600">Gauta</span>
      </li>
      <li class="flex items-center space-x-2 p-1">
        <i class="fa-solid fa-circle-xmark text-red-400 md:text-lg"></i>
        <span class="text-sm text-gray-600">Negauta</span>
      </li>
      <li class="flex items-center space-x-2 p-1">
        <i class="fa-solid fa-clock text-amber-400 md:text-lg"></i>
        <span class="text-sm text-gray-600">Prašymas apdorojamas</span>
      </li>
      <li class="flex items-center space-x-2 p-1">
        <i class="fa-solid fa-circle-check text-cyan-400 md:text-lg"></i>
        <span class="text-sm text-gray-600">Paruošta</span>
      </li>
    </ul>
  </div>

  <!-- List of equipment -->
  <ul *ngIf="items">
    <li *ngFor="let item of items" class="flex flex-col mb-2 py-2 border-b rounded-md">
      <div class="flex items-center justify-between">
        <div class="flex items-center md:space-x-4 space-x-2">
          <!-- Status icon based on item status -->
          <span class="status-icon md:text-3xl text-xl">
            <i *ngIf="item.status === 'Paruošta'" class="fa-solid fa-circle-check text-cyan-400"></i>
            <i *ngIf="item.status === 'Gauta'" class="fa-solid fa-circle-check text-green-400"></i>
            <i *ngIf="item.status === 'Negauta'" class="fa-solid fa-circle-xmark text-red-400"></i>
            <i *ngIf="item.status === 'Apdorojama'" class="fa-solid fa-clock text-amber-400"></i>
          </span>

          <!-- Equipment image -->
          <img [src]="item.photoUrl" alt="{{ item.name }}" class="w-16 h-16 rounded-md shadow">

          <!-- Equipment details -->
          <div>
            <div class="md:text-lg font-semibold text-gray-800">{{ item.name }}</div>
            <div *ngIf="item.status !== 'Negauta'" class="md:text-sm text-xs text-gray-600">Didis: {{ item.size }}</div>
            <div *ngIf="item.status !== 'Negauta'" class="md:text-sm text-xs text-gray-500">Išduotas: {{ item.dateGiven | date: 'mediumDate' }}</div>
          </div>
        </div>

        <!-- Action buttons -->
        <div class="flex space-x-2">
          <!-- Button to validate item -->
          <button *ngIf="item.status === 'Negauta' || item.status === 'Gauta'" (click)="validateItem(item.equipmentId)" class="bg-rose-500 text-white py-1 px-3 rounded-md hover:bg-rose-600">
            <i class="fa-solid fa-plus"></i>
          </button>

          <!-- Disabled button for other statuses -->
          <button *ngIf="item.status === 'Apdorojama' || item.status === 'Paruošta'" class="bg-gray-500 text-white py-1 px-3 rounded-md" disabled>
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
      </div>

      <!-- Additional options for selected item -->
      <div *ngIf="selectedItemId === item.equipmentId" class="mt-4 flex flex-col space-y-4">
        <div class="md:flex items-end md:space-x-4 space-y-2">
          <!-- Size selection -->
          <div class="md:w-1/2">
            <label for="sizeSelect" class="block text-sm font-medium text-gray-700">Pasirinkti didį</label>
            <select id="sizeSelect" [(ngModel)]="selectedSize" class="mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-rose-600">
              <option *ngFor="let size of item.sizes" [value]="size.size" class="uppercase">{{ size.size }}</option>
            </select>
          </div>

          <!-- Action buttons for order -->
          <div class="flex space-x-2 md:w-1/2 md:text-base text-sm">
            <button (click)="submitOrder()" class="bg-rose-500 text-white py-2 px-4 rounded-md hover:bg-rose-600 w-full" [disabled]="!selectedSize">
              Pateikti prašyma
            </button>
            <button (click)="cancelOrder()" class="bg-gray-500 text-white py-2 px-4 rounded-md hover:bg-gray-600 w-full">
              Atšaukti
            </button>
          </div>
        </div>

        <!-- Confirmation checkbox -->
        <div class="flex items-center">
          <input type="checkbox" id="confirmationCheckbox" [(ngModel)]="isConfirmed" class="h-4 w-4 text-rose-600 focus:ring-rose-500 border-gray-300 rounded">
          <label for="confirmationCheckbox" class="ml-2 block md:text-sm text-xs text-gray-700">Patvirtinu, kad seną įrangą (jei ją jau turiu) pakeisiu nauja arba atsivešiu naują įrangą (jei jos neturiu) į base.</label>
        </div>
      </div>
    </li>
  </ul>
</div>
