<div class="w-full bg-white rounded-lg shadow-lg my-4 md:p-4 p-4 pb-0 mx-auto">
    <h2 class="text-2xl font-bold mb-4 text-center">Ekiperuotės Sąrašas</h2>
  
    <table class="w-full border-collapse border border-gray-300 text-base">
      <thead>
        <tr class="bg-gray-200">
          <th class="border border-gray-300 p-2 text-left">Cadet ID</th>
          <th class="border border-gray-300 p-2 text-left">Įrangos pavadinimas</th>
          <th class="border border-gray-300 p-2 text-left">Dydis</th>
          <th class="border border-gray-300 p-2 text-left">Likutis</th>
          <th class="border border-gray-300 p-2 text-center">Veiksmai</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of equipmentList" class="hover:bg-gray-100">
          <td class="border border-gray-300 p-2">{{ item.cadetId }}</td>
          <td class="border border-gray-300 p-2">{{ item.name }}</td>
          <td class="border border-gray-300 p-2">{{ item.size || 'Nenurodyta' }}</td>
          <td class="border border-gray-300 p-2">
            {{ getEquipmentLeft(item) }}
          </td>          
          <td class="border border-gray-300 p-2 text-center space-x-4">
            <button
              (click)="updateEquipmentStatus(item.equipmentId, item.cadetId, 'Paruošta')"
              class="bg-rose-500 text-white py-1 px-3 w-12 rounded-md hover:bg-rose-600"
            >
            <i class="fa-solid fa-check"></i>
            </button>
            <button
              (click)="updateEquipmentStatus(item.equipmentId, item.cadetId, 'Negauta')"
              class="bg-gray-500 text-white py-1 px-3 w-12 rounded-md hover:bg-gray-600"
            >
            <i class="fa-solid fa-xmark"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  